html
  head
    title XJTU 404
    link(rel='stylesheet', href='/css/404.css')
  body
    h2
      | XJTU EI
      span  Not Found
    h3 please go back home.
    .container
      div
        h1 -404-
      div
      div
    canvas#canv
    script(src='/js/views/404.js')
