
extends layout/navbar

block link
    link(rel='stylesheet', href='/css/excel.css')
    link(rel='stylesheet', href='/css/wijmo.css')  

block content
    - user = typeof(udata) != 'undefined' ? udata : { }
    input(type='hidden', value= user._id)#userId

    .card
        div
            div
                span Upload File
                #target.file-drag
                    .input-wrapper
                        .input-cover
                            button(type='button').button#choose Choose File
                            span.file-name#notify No file chosen
                    span.help-test or drop file here
            form(method="post")#excel-form
                input(type='hidden', value="")#excel-tf
                button(type='submit')#excel-form-btn.button UPLOAD File
                button(type='button').button#export export file
            #statistic 
                .previews
                    .preview-item
                        pre.preview Statistical chart:
                        .file-name.spacer Intelligent PARM recognition
                        button.button#toggle_chart_type switch type
                .previews
                    #chart 
      
   

    include modals/form-errors
    include modals/confirm

block scripts
    script(src='/vendor/jszip.min.js')
    script(src='/vendor/controls/wijmo.min.js')
    script(src='/vendor/controls/wijmo.grid.min.js')
    script(src='/vendor/controls/wijmo.grid.detail.min.js')
    script(src='/vendor/controls/wijmo.grid.xlsx.min.js')
    script(src='/vendor/controls/wijmo.xlsx.min.js')
    script(src='/vendor/controls/wijmo.chart.min.js')
    script(src='/js/views/excel.js')
    script(src='/js/controllers/excelController.js')
    script(src='/js/form-validators/excelValidator.js')
