
extends layout/navbar

block link
    link(rel='stylesheet', href='/css/excel.css')
    link(rel='stylesheet', href='/css/wijmo.css')  

block content

    #target.hover
    .outer
      a#export(href='javascript:void(0)') 导出excel
      a#toggle_chart_type(href='javascript:void(0)') 切换类型
    #chart_dv
      #chart

block scripts
    script(src='/vendor/controls/wijmo.min.js')
    script(src='/vendor/controls/wijmo.grid.min.js')
    script(src='/vendor/controls/wijmo.grid.detail.min.js')
    script(src='/vendor/controls/wijmo.grid.xlsx.min.js')
    script(src='/vendor/controls/wijmo.xlsx.min.js')
    script(src='/vendor/controls/wijmo.chart.min.js')
    script(src='/js/views/excel.js')
    script(src='/vendor/jszip.min.js')