
nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			.navbar-brand#btn-home.btn XJTU HOME 
		ul.nav.navbar-nav.navbar-right
			li
				.navbar-btn#btn-excel.btn.btn-default
					| Edit Excel 
				.navbar-btn#btn-account.btn.btn-default
					| update account 
				.navbar-btn#btn-logout.btn.btn-default
					| Sign Out


