extends layout/navbar

block link
    link(rel='stylesheet', href='/vendor/fullcalendar.min.css')
    link(rel='stylesheet', href='/css/reservation.css')

block content
    #page
        .page-header
        h1 Reservation System 
        #calendar
    .bubble
        .arrow

block scripts
    script(src='/vendor/moment.min.js')
    script(src='/vendor/fullcalendar.min.js')
    script(src='/vendor/lang-all.js')
    script(src='/js/views/reservation.js') 